.App {
  text-align: center;
}

.maincontent > div{
  background: #eee;
  padding: 1em;
}

h1{
  text-align: left;
  font-family: Verdana;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid black;
}

th{
  background: #222;
  color: white;
}
td{
  text-align: left;
}
.maincontent > div:nth-child(odd){
  background: #222;
}
.maincontent {
  display:grid;
  grid-template-columns: 3fr 7fr;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
